// Color
$color-primary: #000000;
$color-secondary: #fecd07;
$color-tertiary: #606060;
$color-hover: #fecd07;
$color-white: #ffffff;

// Background
$background-primary: #000000;
$background-second: rgba(0, 0, 0, 0.6);
$background-hover: #fecd07;

// Border color
$border-color-primary: #000000;