// Color
$color-primary: #000000;
$color-secondary: #000000;
$color-hover: #ff5555;
$color-white: #ffffff;

// Background
$background-primary: #333333;
$background-second: rgba(0, 0, 0, 0.6);
$background-hover: #ff5555;

// Border color
$border-color-primary: #eeeeee;