.btn-quick-view-product {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  @include border-radius(4px);
  background-color: $background-primary;
  @include transition(all 0.4s ease-in-out);

  &:hover {
    color: #ffffff;
    background-color: $background-hover;
  }
}
.modal {
  &.mode-quick-view-product {
    .modal-dialog {
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}
