.element-our-maxim {
  .heading {
    margin-bottom: 4rem;
  }

  .describe {
    margin-bottom: 7rem;
  }

  .col {
    margin-bottom: 2.4rem;
  }

  .item {
    position: relative;
    padding: 35px 30px;
    height: 100%;
    border-radius: 8px;
    border: 1px solid $border-color-primary;
    @include transition();

    &__icon {
      position: absolute;
      top: -25px;
      left: 35px;
      width: 80px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      background-color: #ffffff;
    }

    &__title {
      position: relative;
      margin-bottom: 15px;

      span {
        background-image: linear-gradient(to right, $color-hover, $color-hover 50%, #000 50%);
        background-size: 200% 100%;
        background-position: 100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition();
      }
    }

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

      .item__title {
        span {
          background-position: 0;
        }
      }
    }
  }
}