@import "../abstracts/abstracts";

.element-testimonial-slider {
  .item {
    &__image {
      width: 15rem;
      margin: 0 auto 1.2rem;
    }

    &__content {
      > div {
        &:not(:last-child) {
          margin-bottom: 1.2rem;
        }
      }

      .name {
        font-size: $var-fs-md;
        font-weight: $var-fw-bold;
      }
    }
  }
}