.element-post-carousel {
  .item-post {
    @include flex-column;
    flex: 1;

    &__content {
      padding: 15px;
      border: 1px solid $border-color;

      .title {
        font-size: 1.5rem;
      }
    }
  }
}