$prefix: mt-theme-;

// color
$colors: (
        primary: #3498db,
        secondary: #2ecc71,
        accent: #e74c3c,
        success: #28a745,
        error: #dc3545,
        warning: #ffc107,
        info: #17a2b8,
        black: #000000,
        white: #ffffff
);

// typography
$font-sizes: (
        body: 1.6rem,
        h1: 3.2rem,
        h2: 2.8rem,
        h3: 2.4rem,
        h4: 2rem,
        h5: 1.8rem,
        h6: 1.6rem
);

$fonts: (
        base: 'Roboto, sans-serif',
        heading: 'Poppins, sans-serif'
);

$font-weights: (
        regular: 400,
        medium: 500,
        bold: 700
);

// spacing
$spacing-base: 0.4rem;
$spacers: ();

@for $i from 0 through 8 {
  $spacers: map-merge($spacers, (#{$i}: $spacing-base * $i));
}


// body
$body-color: map-get($colors, black);
$body-bg:  map-get($colors, white);

$font-size-base: map-get($font-sizes, body);
$line-height-base: 1.5;

// colors
$primary-color: #3498db;
$secondary-color: #FFF400;
$tertiary-color: #1D93E3;

$color-hover: #ff5555;
$color-required: #ff5555;

// Fonts
$font-family-base: map-get($fonts, base);

// FontAwesome
$font-awesome-free: 'Font Awesome 6 Free';
$font-awesome-brand: 'Font Awesome 6 Brands';

// Paragraphs
//
// Style p element.
$paragraph-margin-bottom: 1.2rem;

// headings variables
$headings-margin-bottom: 1.2rem;
$heading-color: map-get($colors, primary);
$headings-font-family: map-get($fonts, heading);
$headings-font-weight: 700;
$headings-line-height: 1.25;

$h1-font-size: 3.6rem;
$h2-font-size: 3rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

// others
$transition-base: all 0.4s ease-in-out;

// Grid columns
$grid-gutter-width: 2.4rem;