section {
  &.widget {
    &.woocommerce {
      ul {
        &.product_list_widget {
          li {
            a {
              margin-bottom: 15px;
              display: flex;

              img {
                width: 70px;
                margin: 0 15px 0 0;
                flex: 0 0 auto;
              }

              .product-title {
                flex: 1;
              }
            }

            .star-rating {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}