.main-navigation {
  background-color: #ffffff;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);

  .site-navbar {
    position: relative;
  }

  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.site-logo {
  flex: 0 0 auto;

  a {
    display: inline-block;
    line-height: 64px;
    padding: 15px 0;
  }
}

.site-menu {
  flex: 1;

  > ul {
    > li {
      > a {
        padding: 0 15px;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;

      a {
        text-shadow: none;
        display: block;

        &:hover {
          background-color: transparent;
          color: $color-hover;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
        }
      }

      .sub-menu-toggle {
        &:after {
          @include transition();
        }
      }

      &.current-menu-item,
      &.current-menu-parent {
        > a {
          color: $color-hover;
        }
      }
    }
  }
}

.sub-menu-toggle {
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: $font-awesome;
    font-style: normal;
    font-weight: 900;
  }
}